<div class="container">
  <h1 class="headline">Portfolio</h1>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button mat-raised-button (click)="selectedGroup = 'about'">About</button>
      <p></p>
      <button mat-raised-button (click)="selectedGroup = 'skills'">
        Skills
      </button>
      <p></p>
      <button mat-raised-button (click)="selectedGroup = 'project'">
        Project
      </button>
      <p></p>
      <button mat-raised-button (click)="selectedGroup = 'resume'">
        Resume
      </button>
      <p></p>
      <button mat-raised-button (click)="selectedGroup = 'contact'">
        Contact
      </button>
    </mat-drawer>

    <div class="example-sidenav-content">
      <div [ngSwitch]="selectedGroup">
        <div *ngSwitchCase="'about'">
          <h1>About Me</h1>
          <p>
            Hello, my name is Shravani Pathak, and I recently completed my M.Sc.
            in Computer Science from MES Abasaheb Garware College in Pune,
            graduating with a CGPA of 8.88. I also hold a B.Sc. in Computer
            Science from the same institution, where I achieved a CGPA of 9.02.
          </p>
          <p>
            During my studies, I had the opportunity to intern as a Full Stack
            Developer at Application Nexus. In this role, I contributed
            significantly to a Child Vaccination App project, where I worked
            with technologies such as Ionic, Angular, PHP, and MySQL. My
            responsibilities included implementing secure authentication
            systems, managing vaccine-related data, and integrating
            notifications and Google authentication services.
          </p>
          <p>
            I have a strong foundation in various programming languages and
            frameworks, including Java, Python, C++, and JavaScript, along with
            experience in database management with MySQL and MongoDB.
            Additionally, I have worked on several projects, such as the FurBaby
            Community System, which is an online platform for pet lovers, and a
            College Community System using the MERN stack.
          </p>
          <p>
            I am passionate about leveraging technology to create innovative
            solutions and am eager to bring my skills and experience to your
            team. Thank you for considering my application.
          </p>
        </div>
        <div *ngSwitchCase="'skills'">
          <h1>Skills</h1>
          <h2>Programming Language:</h2>
          <div class="skills">
            <div *ngFor="let skill of progSkillSets">
              <mat-progress-spinner [mode]="skill.mode" [value]="skill.value">
              </mat-progress-spinner>
              <h4 class="skill-set">{{ skill.title }}</h4>
            </div>
          </div>

          <h2>Web-Development Language:</h2>
          <div class="skills">
            <div *ngFor="let skill of webSkillSets">
              <mat-progress-spinner [mode]="skill.mode" [value]="skill.value">
              </mat-progress-spinner>
              <h4 class="skill-set">{{ skill.title }}</h4>
            </div>
          </div>

          <h2>Frameworks:</h2>
          <div class="skills">
            <div *ngFor="let skill of frameSkillSets">
              <mat-progress-spinner [mode]="skill.mode" [value]="skill.value">
              </mat-progress-spinner>
              <h4 class="skill-set">{{ skill.title }}</h4>
            </div>
          </div>

          <h2>Databases:</h2>
          <div class="skills">
            <div *ngFor="let skill of dbSkillSets">
              <mat-progress-spinner [mode]="skill.mode" [value]="skill.value">
              </mat-progress-spinner>
              <h4 class="skill-set">{{ skill.title }}</h4>
            </div>
          </div>
        </div>

        <div class="card-div" *ngSwitchCase="'project'">
          <h1>Projects</h1>
          <mat-card class="example-card" appearance="outlined" *ngFor="let proj of project1">
            <mat-card-header>
              <mat-card-title>{{proj.title}}</mat-card-title>
              <mat-card-subtitle>{{proj.duration}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="proj.image.src" alt="proj.image.alt">
            <mat-card-content>
              <p>
                {{proj.description}}
              </p>
              <button mat-button (click)="openDialog(proj.id)">
                Show More...
              </button>
              </mat-card-content>
            </mat-card>
        </div>

        <div  *ngSwitchCase="'resume'">
          <h1>Resume</h1>
          <mat-card class="resume-card" appearance="outlined">
            <mat-card-content>
              <img mat-card-image class="resume-img" src="/assets/resume.jpg" alt="resume">
              <button mat-button>
                <a href="/assets/resume.jpg" download >
                  <mat-icon fontIcon="save_alt"></mat-icon>Download
                </a>
              </button> 
              </mat-card-content>
            </mat-card>
        </div>

        <div *ngSwitchCase="'contact'">
          <h1>Contact</h1>
          <mat-card class="card" appearance="outlined">
            <mat-card-content>
              <mat-list>
                <mat-list-item
                  >Linkedin :<a
                    href="https://www.linkedin.com/in/shravani-pathak-b638b6224/"
                    > linkedin.com/in/shravani-pathak-b638b6224</a
                  ></mat-list-item
                >
                <mat-list-item
                  >Email: shraup1301&#64;gmail.com</mat-list-item
                >
                <mat-list-item>Mobile: 9561144590</mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>

        <div *ngSwitchDefault>
          <h1>Introduction</h1>
          <p>
            Hello, I'm Shravani Pathak, a recent M.Sc. Computer Science graduate
            from MES Abasaheb Garware College in Pune. With hands-on experience
            as a Full Stack Developer intern at Application Nexus, I've worked
            on building secure, user-friendly applications using technologies
            like Ionic, Angular, PHP, and MySQL. I have a solid foundation in
            programming languages such as Java, Python, C++, and JavaScript, and
            I'm skilled in managing databases like MySQL and MongoDB. I've also
            developed projects like the FurBaby Community System for pet lovers
            and a College Community System using the MERN stack. I'm passionate
            about building innovative tech solutions and eager to bring my
            skills to new challenges.
          </p>
        </div>
      </div>
      <div>
        <button type="button" mat-flat-button (click)="drawer.toggle()">
          Menu
        </button>
      </div>
    </div>
  </mat-drawer-container>
  <router-outlet />
</div>
